<!-- main.component.html -->
<section class="section">
  <div class="container">
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li [class.is-active]="activeTab === 'equipes'">
          <a (click)="activeTab = 'equipes'">Mes équipes</a>
        </li>
        <li [class.is-active]="activeTab === 'creneaux'">
          <a (click)="activeTab = 'creneaux'">Mes créneaux</a>
        </li>
        <li [class.is-active]="activeTab === 'gymnases'">
          <a (click)="activeTab = 'gymnases'">Mes gymnases</a>
        </li>
        <li [class.is-active]="activeTab === 'matchs'">
          <a (click)="activeTab = 'matchs'">Matchs</a>
        </li>
        <li [class.is-active]="activeTab === 'planification'">
          <a (click)="activeTab = 'planification'">Planifier mes matchs</a>
        </li>
        <li [class.is-active]="activeTab === 'calendrier'">
          <a (click)="activeTab = 'calendrier'">Calendrier</a>
        </li>
      </ul>
    </div>

    <!-- ONGLET MES EQUIPES -->
    <div *ngIf="activeTab === 'equipes'">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Nom équipe</th>
            <th>Catégorie</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of equipesEngageesFiltres">
            <td>{{ e.nom }}</td>
            <td>{{ getCategorieNom(e.categorie) }}</td>
            <td>
              <button class="button is-small is-danger" (click)="supprimerEquipe(e)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="modeAjoutEquipe">
        <div class="field">
          <label class="label">Nom de l'équipe</label>
          <div class="control">
            <input class="input" [(ngModel)]="nouvelleEquipe.nom">
          </div>
        </div>
        <div class="field">
          <label class="label">Catégorie</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="nouvelleEquipe.categorie">
                <option *ngFor="let c of categories" [value]="c.id">{{ c.nom }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-primary" (click)="creerEquipe()">Créer</button>
          <button class="button is-danger" (click)="modeAjoutEquipe = false">Retour</button>
        </div>
      </div>

      <div *ngIf="!modeAjoutEquipe" class="has-text-centered">
        <button class="button is-link is-light" (click)="modeAjoutEquipe = true">Ajouter une équipe</button>
      </div>
    </div>

    <!-- ONGLET MES CRENEAUX -->
    <div *ngIf="activeTab === 'creneaux'">
      <div class="buttons">
        <button class="button is-primary" (click)="modeCreneau = 'periodique'">Créer un créneau périodique</button>
        <button class="button is-link" (click)="modeCreneau = 'unique'">Créer un créneau unique</button>
      </div>

      <div *ngIf="modeCreneau === null">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Date</th>
              <th>Heure début</th>
              <th>Heure fin</th>
              <th>Gymnase</th>
              <th>Match(s)</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of creneauxFiltres">
              <td>{{ c.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ c.heure_debut }}</td>
              <td>{{ c.heure_fin }}</td>
              <td>{{ getGymnaseList(c.gymnase) }}</td>
              <td>
                <div *ngFor="let m of getMatchsPourCreneau(c.id)">
                  {{ getCategorieNom(m.categorie) }} : {{ getEquipeNom(m.domicile) }} - {{ getEquipeNom(m.exterieur) }}
                </div>
              </td>
              <td><input type="text" class="input" [(ngModel)]="c.notes" (ngModelChange)="updateCreneau(c)" /> </td>
              <td>
                <button class="button is-small is-danger" (click)="confirmerSuppressionCreneau(c)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Ajout/Maj créneau -->
      <div *ngIf="modeCreneau">
        <!-- formulaire selon type (unique/periodique) à implémenter dans le TS) -->
        <app-formulaire-creneau [gymnases]="gymnasesFiltres" [mode]="modeCreneau" (cancel)="modeCreneau = null" (done)="rafraichirCreneaux()" (creneaux)="CreerPeriodique($event)"></app-formulaire-creneau>
      </div>
    </div>
    <div *ngIf="activeTab === 'gymnases'">
    

      <div *ngIf="editgymnase === null">
          <div class="buttons">
        <button class="button is-primary" (click)="CreerGymnase()">Créer un gymnase</button>
      </div>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Nom</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of gymnasesFiltres">
              <td>{{ c.nom }}</td>
              <td>
                <button class="button is-small is-info" (click)="ModifierNomGymnase(c)">Modifier</button>                
              </td>
              <td>
                <button class="button is-small is-danger" (click)="SupprimerGymnase(c)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Ajout/Maj créneau -->
      <div *ngIf="editgymnase">
          <div class="buttons">
        <button class="button is-danger" (click)="RetourGymnase()">Retour</button>
      </div>
        <!-- formulaire selon type (unique/periodique) à implémenter dans le TS) -->
        <div class="field">
          <label class="label">Nom du gymnase</label>
          <div class="control">
            <input class="input" [(ngModel)]="editgymnase.nom">
          </div>
      </div>
                <button class="button is-small is-primary" (click)="ValiderGymnase()">Supprimer</button>
    </div>
    </div>
    <!-- ONGLET CALENDRIER -->
    <div *ngIf="activeTab === 'matchs'">
      <app-filtre-calendrier
        [clubs]="clubs"
        [categories]="categories"
        [equipes]="equipesEngagees"
        (filtreChange)="majFiltres($event)"></app-filtre-calendrier>

      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Domicile</th>
            <th>Extérieur</th>
            <th>Club recevant</th>
            <th>Gymnase</th>
            <th>Planifié</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matchsFiltres">
            <td>{{ getDateMatch(match) }}</td>
            <td>{{ getCategorieNom(match.categorie) }}</td>
            <td>{{ getEquipeNom(match.domicile) }}</td>
            <td>{{ getEquipeNom(match.exterieur) }}</td>
            <td>{{ getNomClub(match.club_recevant) }}</td>
             <td>{{ getGymnase(match) }}</td>
            <td>{{ match.creneau_choisi == 0 ? "non" : "oui"}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ONGLET PLANIFICATION (placeholder) -->
    <div *ngIf="activeTab === 'planification'">
      <app-match-planning  
  [evaluerCreneau]="EvaluerCreneau.bind(this)" [creneaux]="creneaux" [categorie]="categories" [matchs]="matchs" [equipesEngagees]="equipesEngagees" (done)="rafraichirCreneaux()"></app-match-planning>
    </div>
    <div *ngIf="activeTab === 'calendrier'">
   <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Date</th>
            <th>Match</th>
            <th>Evenement</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cal of calendrierComplet"  [class.weekend-row]="isWeekend(cal.date)">
            <td>{{ cal.date.toLocaleDateString() || '—' }}</td>
            <td>
              <ng-container *ngFor="let m of cal.matchs">
                {{getCategorieNom(m.categorie)}} : {{getEquipeNom(m.domicile)}} - {{ getEquipeNom(m.exterieur)}} <br/>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let ev of cal.evenements">
                {{ev.libelle}} <br/>
                </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</section>