<div class="container mt-6">
  <div class="box">
    <h1 class="title is-4">Choisis ton club</h1>

    <div class="field">
      <label class="label">Sélection du club</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select [(ngModel)]="selectedclub">
            <option [ngValue]="null" disabled>-- Choisir un club --</option>
            <option *ngFor="let club of clubs" [value]="club.id">
              {{ club.nom }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Code du club</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="clubCode" placeholder="Saisir le code du club">
      </div>
    </div>

    <div class="field is-grouped is-justify-content-flex-end mt-4">
      <div class="control">
        <button class="button is-primary is-outlined is-rounded" (click)="seConnecter()">Valider</button>
      </div>
    </div>
  </div>
</div>
