<div class="box">
  <div class="field is-horizontal">
    <div class="field-body">

      <!-- Club -->
      <div class="field">
        <label class="label">Club</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select [(ngModel)]="selectedClub" (change)="onChange()">
              <option [ngValue]="null">Tous</option>
              <option *ngFor="let club of clubs" [ngValue]="club.id">{{ club.nom }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Catégorie -->
      <div class="field">
        <label class="label">Catégorie</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select [(ngModel)]="selectedCategorie" (change)="onChange()">
              <option [ngValue]="null">Toutes</option>
              <option *ngFor="let cat of categories" [ngValue]="cat.id">{{ cat.nom }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Équipe -->
      <div class="field">
        <label class="label">Équipe</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select [(ngModel)]="selectedEquipe" (change)="onChange()">
              <option [ngValue]="null">Toutes</option>
              <option *ngFor="let eq of equipes" [ngValue]="eq.id">
                  {{ eq.nom }} ({{ getCategorieNom(eq.categorie) }})
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
