<div *ngIf="mode" class="box">
  <h3 class="title is-5">
    {{ mode === 'periodique' ? 'Créer un créneau périodique' : 'Créer un créneau unitaire' }}
  </h3>

  <div class="field">
    <label class="label">
      <span *ngIf="mode === 'periodique'">Jour de la semaine</span>
      <span *ngIf="mode !== 'periodique'">Date</span></label>
    <div class="control">
      <input
  *ngIf="mode !== 'periodique'"
  type="date"
  class="input"
[min]="minDateStr"
  [max]="maxDateStr"
  [(ngModel)]="date"
  (ngModelChange)="date = $event"
/>
  <div class="control">
        <div class="select is-fullwidth">
      <select  *ngIf="mode === 'periodique'" [(ngModel)]="jour">
        <option value="lundi">lundi</option>
        <option value="mardi">mardi</option>
        <option value="mercredi">mercredi</option>
        <option value="jeudi">jeudi</option>
        <option value="vendredi">vendredi</option>
        <option value="samedi">samedi</option>
        <option value="dimanche">dimanche</option>
      </select>
      </div>
    </div>
  </div>
  </div>
<ng-container *ngIf="mode === 'periodique'">
  <div class="field">
    <label class="label">
      <span >Date de début</span></label>
    <div class="control">
      <input
  type="date"
  class="input"
  [(ngModel)]="minDateStr"
  (ngModelChange)="date = $event"
/>
</div>
</div>
  <div class="field">
    <label class="label">
      <span >Date de fin</span></label>
    <div class="control">
      <input
  type="date"
  class="input"
  [(ngModel)]="maxDateStr"
  (ngModelChange)="date = $event"
/>
</div>
</div>
</ng-container>
  <div class="field">
    <label class="label">Heure de début</label>
    <div class="control">
      <input type="time" class="input" [(ngModel)]="heureDebut" />
    </div>
  </div>

  <div class="field">
    <label class="label">Heure de fin</label>
    <div class="control">
      <input type="time" class="input" [(ngModel)]="heureFin" />
    </div>
  </div>
  <div class="field">
    <label class="label">Notes</label>
    <div class="control">
      <input type="text" class="input" [(ngModel)]="notes" />
    </div>
  </div>

  <div class="field">
    <label class="label">Gymnase</label>
     <div class="control">
        <div class="select is-fullwidth">
      <select  [(ngModel)]="gymnase">
        <ng-container *ngFor="let g of gymnases">
          <option [value]="g.id">{{ g.nom }}</option>
        </ng-container>
      </select>
      </div>
    </div>
  </div>

  <div *ngIf="mode === 'periodique'">
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" [(ngModel)]="vacances" />
        Maintenu pendant les vacances
      </label>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" [(ngModel)]="joursFeries" />
        Maintenu pendant les jours fériés
      </label>
    </div>
  </div>

  <div class="buttons mt-4">
    <button class="button is-primary" (click)="valider()">Créer</button>
    <button class="button is-danger" (click)="annuler()">Retour</button>
  </div>
</div>
